.npmrc
/node_modules
.DS_Store

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Ignore build and test output
/dist/
packages/*/dist/
packages/*/test-results/
test-results/
playwright-report/
*.tsbuildinfo

# Ignore Netlify publish output
data/netlify_publish/
netlify_publish/
